#toProjects {
  margin-top: calc(3vh + (clamp(25px, 8vmin, 70px) * 1.5) + (clamp(13px, 4vmin, 25px) * 2) + (10px * 3));
  right: 30px;
  left: 20px;
  z-index: 7;
  height: fit-content;
  /*InnerGrid*/
  grid-column:  5 / 6;
  grid-row: 1 /2;
  font-size: clamp(13px, 4vmin, 25px);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.514);
}
#projectsAnchorRight {
  /*InnerGrid*/
  grid-column: 8 / 9;
  grid-row: 1 /2;
}

#backProjects {
  margin-top: calc(3vh + (clamp(25px, 8vmin, 70px) * 1.5) + (clamp(13px, 4vmin, 25px) * 2) + (10px * 3));
  margin-left: 5vw;
  padding-left: 20px;
  left: 20px;
  z-index: 9;
  height: fit-content;
  /*InnerGrid*/
  grid-column:  5 / 6;
  grid-row: 1 /2;
  font-size: clamp(13px, 4vmin, 25px);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.514);
}
#projectsAnchorLeft {
  /*InnerGrid*/
  grid-column:  5 / 6;
  grid-row: 1 /2;
  scroll-snap-align: start;
}

#projectsSection {
  /*InnerGrid*/
  grid-column: 5 / 6;
  grid-row: 1 /2;
  grid-template-columns: 5vw 45vw 45vw 5vw;
  grid-template-rows: 5% 44.5% 1% 44.5% 5%;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(
    322deg,
    rgb(6, 0, 8) 72%,
    rgba(255, 0, 102, 0.192) 100%
  );
  opacity: 0.99;
}

.bgShape4 {
  /*SectionGrid*/
  grid-column: 1 / 5;
  grid-row: 1 / 6;
  background-color: black;
  margin: 3px 0px 3px 0px;
  z-index: -1;
}
.bgGradient1 {
  grid-column: 1 / 5;
  grid-row: 1 / 6;
  animation: rotate360 35s linear 0s infinite;
  width: 100%;
  height: 100%;
  opacity: 0.40;
  background: rgb(208,86,180);
  background: linear-gradient(90deg, rgba(208,86,180,1) 0%, rgba(78,43,213,1) 32%, rgba(18,17,54,1) 50%, rgba(59,72,126,1) 70%, rgba(100,208,237,1) 100%);
}
.bgGradient2 {

  /*SectionGrid*/
  grid-column: 1 / 5;
  grid-row: 1 / 6;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  animation: rotate360 60s linear 0s infinite;
  background: rgb(10,157,125);
  background: linear-gradient(0deg, rgba(10,157,125,1) 0%, rgba(104,155,181,1) 34%, rgba(21,98,101,1) 70%, rgba(22,197,144,1) 100%);
}

@keyframes rotate360 {
0% {
  transform: rotateZ(360deg);
}
}

.project-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  margin-top: -0.5vh;
  border-top: 10px solid rgba(156, 156, 156, 0.616);
}
.project-card-top {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 3;
  margin-bottom: -0.5vh;
  border-bottom: 10px solid rgba(156, 156, 156, 0.616);
}

.projOne {
  /*InnerGrid*/
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
.projOne-link{
  position: absolute;
  z-index: 0;
  left: 5px;
  top: 5px;
  width: calc(40vw - 10px);
  height: calc(40vh - 10px);
  background-image: url("../../public/img/htmldesign.png");
  background-position: left;
  background-size: cover;
}
.projTwo {
  /*InnerGrid*/
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}
.projTwo-link{
  position: absolute;
  z-index: 0;
  left: 5px;
  top: 5px;
  width: calc(40vw - 10px);
  height: calc(40vh - 10px);
  background-image: url("../../public/img/myweekend.png");
  background-position: center;
  background-size: cover;
}
.projThree{
  /*InnerGrid*/
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}
.projThree-link{
  position: absolute;
  z-index: 0;
  left: 5px;
  top: 5px;
  width: calc(40vw - 10px);
  height: calc(40vh - 10px);
  background-image: url("../../public/img/blogit.png");
  background-position: initial;
  background-size: cover;
}
.projFour {
  /*InnerGrid*/
  grid-column: 12 / 13;
  grid-row: 1 / 2;
}

.arrow-up {
  align-self: center;
  border-top: 0px solid rgb(44, 42, 42);
  border-bottom: 2vmin solid rgba(100, 100, 100, 0.466);
  border-left: calc(2vmin/2) solid transparent;
  border-right: calc(2vmin/2) solid transparent;
  width: 2vmin;
  height: 2vmin;
}
.arrow-down {
  align-self: center;
  border-top: 2vmin solid rgba(100, 100, 100, 0.466);
  border-bottom: 0px solid rgb(44, 42, 42);
  border-left: calc(2vmin/2) solid transparent;
  border-right: calc(2vmin/2) solid transparent;
  width: 2vmin;
  height: 2vmin;
}

.project-container {
  display: flex;
  position: relative;
  width: 40vw;
  height: 40vh;
  background-color: rgba(100, 100, 100, 0.466);
}

.techUsed-container-top {
  z-index: 1;
  border-top: clamp(20px, 5.5vmin, 50px) solid rgba(0, 0, 0, 0.75);
  border-bottom: 0px solid transparent;
  border-left: clamp(20px, 5.5vmin, 50px) solid transparent;
  border-right: calc(clamp(128px, 30vw, 250px) - clamp(20px, 5.5vmin, 50px)) solid rgba(0, 0, 0, 0.75);
  margin-left: calc(40vw - clamp(128px, 30vw, 250px));
  height: clamp(20px, 5.5vmin, 50px);
  width: clamp(128px, 30vw, 250px);
}
.techUsed-container-bottom {
  z-index: 1;
  border-top: 0px solid transparent;
  border-bottom: clamp(20px, 5.5vmin, 50px) solid rgba(0, 0, 0, 0.75);
  border-left: clamp(20px, 5.5vmin, 50px) solid transparent;
  border-right: calc(clamp(128px, 30vw, 250px) - clamp(20px, 5.5vmin, 50px)) solid rgba(0, 0, 0, 0.75);
  margin-left: calc(40vw - clamp(128px, 30vw, 250px));
  align-self: flex-end;
  height: clamp(20px, 5.5vmin, 50px);
  width: clamp(128px, 30vw, 250px);
}
.techUsed-top {
  display: flex;
  flex-direction: row-reverse;
  margin-top: calc(0px - clamp(20px, 5.5vmin, 50px));
  width: calc(clamp(128px, 30vw, 250px) - clamp(20px, 5.5vmin, 50px));
  height: clamp(20px, 5.5vmin, 50px);
  justify-content: end;
  align-items: center;
}
.techUsed-bottom {
  display: flex;
  flex-direction: row-reverse;
  width: calc(clamp(128px, 30vw, 250px) - clamp(20px, 5.5vmin, 50px));
  height: clamp(20px, 5.5vmin, 50px);
  justify-content: end;
  align-items: center;
}
.techUsed-logo {
  margin: 0px clamp(2.25px, 5vmin, 5px);
  width: clamp(18px, 5vmin, 40px);
  height: clamp(18px, 5vmin, 40px);
}